<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stockr Finance ~ Home Page</title>

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
  </head>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Stockr</strong>
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-github"></i>
          </span>
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
          <span class="icon" style="color: #55acee;">
            <i class="fa fa-twitter"></i>
          </span>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/documentation/overview/start/">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/documentation/overview/start/">
                Overview
              </a>
              <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                Modifiers
              </a>
              <a class="navbar-item " href="http://bulma.io/documentation/grid/columns/">
                Grid
              </a>
              <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                Layout
              </a>
              <a class="navbar-item " href="http://bulma.io/documentation/form/general/">
                Form
              </a>
              <a class="navbar-item " href="http://bulma.io/documentation/elements/box/">
                Elements
              </a>

                <a class="navbar-item is-active" href="http://bulma.io/documentation/components/breadcrumb/">
                  Components
                </a>

              <hr class="navbar-divider">
              <div class="navbar-item">
                <div>
                  <p class="is-size-6-desktop">
                    <strong class="has-text-info">0.5.0</strong>
                  </p>

                    <small>
                      <a class="view-all-versions" href="/versions">View all versions</a>
                    </small>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <a href="/write" class="navbar-item">Write</a>
          <% if (!user) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active">
                  <%= name %>
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item " href="/logout">
                    Logout
                  </a>
                </div>
              </div>
          <% } %>
        </div>
      </div>
    </nav>

    <section class="hero banner is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" style="font-family: 'Rajdhani', sans-serif;">
            <strong>Stockr</strong> Finance
          </h1>
        </div>
      </div>
    </section>

    <br />

    <section class="section">
      <h1 class="title column is-offset-one-quarter">Today's top stories</h1>

      <div class="column">
      <div class="column is-three-quarters">
      <a href="#">
      <section class="hero is-primary is-medium" style="background-image: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/irPb9P2ywA6M/v5/640x-1.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              The State Of Wall Street
            </h1>
            <h2 class="subtitle">
              A lot of lorem, impsum AND dorem. But only for two lines though. Why, you ask? Because DUH, BRO.
            </h2>
          </div>
        </div>
      </section>
      </a>
      </div>
      </div>



      <div class="column">
      <div class="column is-three-quarters">
      <a href="#">
      <section class="hero is-primary is-medium" style="background-image: url('/lightbulb.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              The Startup Bubble
            </h1>
            <h2 class="subtitle">
              A lot of lorem, impsum AND dorem. But only for two lines though. Why, you ask? Because DUH, BRO.
            </h2>
          </div>
        </div>
      </section>
      </a>
      </div>
      </div>



      <div class="column">
      <div class="column is-three-quarters">
      <a href="#">
      <section class="hero is-primary is-medium" style="background-image: url('http://www.iceinnovation.ca/wp-content/uploads/2015/05/How-To-Find-Homes-For-Sale.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Real Estate. Fake Prices.
            </h1>
            <h2 class="subtitle">
              A lot of lorem, impsum AND dorem. But only for two lines though. Why, you ask? Because DUH, BRO.
            </h2>
          </div>
        </div>
      </section>
      </a>
      </div>
      </div>

    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Stockr</strong> Finance by <a href="http://elecsoftconsulting.com">ElecSoft Consulting.</a>
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
