<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./favicon.png" type="img/x-icon">
    <title>Write Articles ~ Stockr Finance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <!-- Main Quill library -->
    <!-- <script src="//cdn.quilljs.com/1.3.2/quill.js"></script> -->
    <script src="//cdn.quilljs.com/1.3.2/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.2/quill.snow.css" rel="stylesheet">
    <!-- <link href="//cdn.quilljs.com/1.3.2/quill.bubble.css" rel="stylesheet"> -->
  </head>
  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Stockr</strong>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/wsj">
                The WSJ
              </a>
              <a class="navbar-item " href="/businessInsider">
                Business Insider
              </a>
              <a class="navbar-item " href="/economist">
                The Economist
              </a>
              <a class="navbar-item " href="/bloomberg">
                Bloomberg
              </a>
              <a class="navbar-item " href="/fortune">
                Fortune
              </a>
              <a class="navbar-item " href="/nytimes">
                New York Times
              </a>
              <a class="navbar-item " href="/cnbc">
                CNBC
              </a>
              <a class="navbar-item " href="/aljazeera">
                Aljazeera
              </a>
              <a class="navbar-item " href="/google">
                Google News
              </a>
              <a class="navbar-item " href="/reuters">
                Reuters
              </a>
              <a class="navbar-item " href="/toi">
                The Times Of India
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active">
              <%= full_name %>
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/logout">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Hi, <%= name %>
      </h1>
      <p class="subtitle">
        Tell <strong>your</strong> story...
      </p>
    </div>
  </section>


  <div class="columns is-centered is-mobile">
    <div class="column is-two-thirds-desktop is-10-mobile">
      <form method="post" action="/submitArticle" id="blogForm" enctype="multipart/form-data">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="image">
          </label>
        </div>
        <div class="field">
          <label class="title is-4">Title</label>
          <div class="control">
            <input class="input" name="title" type="text" id="Title" placeholder="Give your story a title..." required>
          </div>
        </div>
        <div class="field">
          <label class="title is-4">Story</label>
          <div class="control">
            <!-- <label for="about">Story</label> -->
            <input name="about" type="hidden">
            <div id="editor-container" style="height: 300px;">
              <p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p>
            </div>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <input class="button is-primary" type="submit" id="button">
            </input>
          </p>
        </div>
      </form>
    </div>
  </div>


<!--   <div id="form-container" class="container">
  <form>
    <div class="row">
      <div class="col-xs-4">
        <img class="img-rounded" src="./money.jpg">
        <a class="change-link" href='#'>Change picture</a>
      </div>
      <div class="col-xs-8">
        <div class="form-group">
          <label for="display_name">Display name</label>
          <input class="form-control" name="display_name" type="text" value="Wall-E">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input class="form-control"  name="location" type="text" value="Earth">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label for="about">About me</label>
      <input name="about" type="hidden">
      <div id="editor-container">
        <p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" type="submit">Save Profile</button>
    </div>
  </form>
</div> -->

  <br>
  <br>
  <br>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Stockr</strong> Finance by <a href="http://elecsoftconsulting.com">ElecSoft Consulting.</a>
        </p>
      </div>
    </div>
  </footer>

  <script type="text/javascript">

    var quill = new Quill('#editor-container', {
      modules: {
        toolbar: [
          ['bold', 'italic'],
          ['link', 'blockquote', 'code-block', 'image'],
          [{ list: 'ordered' }, { list: 'bullet' }]
        ]
      },
      theme: 'snow'
    });

    document.addEventListener('DOMContentLoaded', function () {
      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      // Check if there are any nav burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }
    });

    var form = document.querySelector('form');
    form.onsubmit = function() {
      // Populate hidden form on submit
      var story = document.querySelector('input[name=about]');
      story.value = JSON.stringify(quill.getContents());

      console.log("Submitted", $(form).serialize(), $(form).serializeArray());

      // No back end to actually submit to!
      alert('Open the console to see the submit data!')
      return false;
    };

  </script>
  </body>
</html>
