body {
/*  background-color: #EEE;*/
}

h1 {
  color: #244751;
}

/*nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: #191970;
}*/


.banner {
  background-image: url('/money.jpg');
}

